* {
    box-sizing: border-box;
    font-family: 'ROBOTO', sans-serif;
}

body {
    margin: 0;
    height: 100vh;
    background-color: black;
}

#container {
    position: relative;
    height: 100vh;
    width: 100vw;


    /*Image+Vignette
sombre*/
    background-image:
        radial-gradient(circle,
            rgba(0, 0, 0, 0) 40%,
            rgba(0, 0, 0, 0.8) 100%),
        url('image/mont\ blanc.jfif');

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    place-items: center;
}

/*conteneur image*/
.image {
    width: 300px;
    height: 250px;
    border-radius: 10px;
}

/*Image*/
.image>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

#container::before {
    content: '';
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.3);
}

#container {
    position: relative;
}

.image {
    position: relative;
    z-index: 1;
}

.text {
    color: white;
    height: 30px;
}